<!-- import latest release version of all components from polygit -->
<link rel="import" href="./bower_components/polymer/polymer.html">
<link rel="import" href="./fhconfig.html">
<script src="./feedhenry.js"></script>
<dom-module id="rhmap-hello-world">
  <template>
      <!-- Import html file containing javascript -->
      <link rel="import" href="./style.html">
      <div id="formWrapper">
          <p id="description">This is a basic Polymer Element that can take in your name, send it to a cloud app and display the response.</p>
          <br>

          <div class="input-div">
              <input id="hello_to" value="{{hello_to::input}}"  type="text" class="input-text" placeholder="Enter Your Name Here."/>
          </div>

          <br>

          <button id="say_hello" onclick="" type="button" class="say-hello-button">Say Hello From The Cloud</button>
          <div id="cloudResponse" class="cloudResponse">{{cloudResponse}}</div>
      </div>
  </template>
  <!-- Import html file containing Polymer config for rhmap-hello-world component -->
  <script>
    Polymer({
      is: "rhmap-hello-world",
      listeners: {
        'say_hello.tap': 'specialTap'
      },
      specialTap: function(e) {
        var that = this;
        this.cloudResponse = "Calling Cloud...";

        $fh.cloud({
          path: 'hello',
          data: {
            hello: this.hello_to
          }
        }, function (res) {
          that.cloudResponse = res.msg;
        }, function (code, errorprops, params) {
          that.cloudResponse = "";
          alert('An error occured: ' + code + ' : ' + errorprops);
        });
      }
    });
  </script>
</dom-module>