<!-- import latest release version of all components from polygit -->
<link rel="import" href="./bower_components/polymer/polymer.html">

<!-- set fh_app_props to remove need for fhconfig.json which would need to be in the route of the site-->
<script>
window.fh_app_props = {
  "appid": "g33jtlof2kmwbbtaacmgv65j",
  "appkey": "fe85b30fd563cca714a5878a50cf60af30cac1",
  "connectiontag": "0.0.1",
  "host": "https://ps-consult-na.redhat.feedhenry.com",
  "projectid": "g33jtloosbbz6su4e7haa2p2"
}
</script>
<script src="feedhenry.js"></script>
<dom-module id="rhmap-hello-world">
  <template>
      <!-- Import html file containing javascript -->
      <link rel="import" href="./style.html">
      <div id="formWrapper">
          <p id="description">This is a basic Polymer Element that can take in your name, send it to a cloud app and display the response.</p>
          <br>

          <div class="input-div">
              <input id="hello_to" value="{{say_hello::input}}"  type="text" class="input-text" placeholder="Enter Your Name Here."/>
          </div>

          <br>

          <button id="say_hello" onclick="" type="button" class="say-hello-button">Say Hello From The Cloud</button>
          <div id="cloudResponse" class="cloudResponse">{{cloudResponse}}</div>
      </div>
  </template>
  <!-- Import html file containing javascript -->
  <link rel="import" href="./app.html">
  
</dom-module>