<style>
      /*
       *  CUSTOM STYLING
       */
      #description {
          text-align: justify;
          position: relative;
          padding-top: 40px;
          font-size: 1.5em;
      }
      .input-group {
          display: block;
      }
      .cloudResponse {
          font-size: 2em;

          font-weight: bold;
          text-align: center;
      }

      .say-hello-button {
          width: 100%;

          margin: 5px 0px 5px 0px;
          padding: 5px 5px 5px 5px;
          font-size: 1.6em;
          background-color: #4a87ee;
          border: 1px solid #216CEC;
          color: #fff;
      }

      .input-text{
          width: 100%;

          font-size: 2em;
          margin: 0px;
          padding: 0px 0px 0px 5px;
          border: 1px solid #000000;
          box-sizing: border-box;
      }

      .input-div {
          width: 100%;

          padding: 5px 0px 5px 0px;
      }
    </style>